In [2]:
# Importamos las librerias que vamos a utiliizar para este punto 

import pandas as pd
import matplotlib.pyplot as plt 
import os
import requests
import urllib.parse

In [32]:
### Funcion para llamar a la api de Series de Tiempo de la Republica Argentina
def get_api_call(ids, **kwargs):
    API_BASE_URL = "https://apis.datos.gob.ar/series/api/"
    kwargs["ids"] = ",".join(ids)
    return "{}{}?{}".format(API_BASE_URL, "series", urllib.parse.urlencode(kwargs))

In [42]:
###Creamos los dataframes con las series de faena de cabezas de vacunas y faena de cabezas porcinas 
df_lino = pd.read_csv(get_api_call(["34.1_LHLIN_0_P_14"], format= "csv", collapse = "year"))
df_soja = pd.read_csv(get_api_call(["34.1_SHSOJ_0_P_14"], format= "csv", collapse = "year"))

In [43]:
df_lino

   indice_tiempo  lino_hectareas
0     1979-01-01       1070000.0
1     1980-01-01        780000.0
2     1981-01-01        851000.0
3     1982-01-01        910000.0
4     1983-01-01        810000.0
5     1984-01-01        620000.0
6     1985-01-01        750000.0
7     1986-01-01        758000.0
8     1987-01-01        670700.0
9     1988-01-01        574000.0
10    1989-01-01        595700.0
11    1990-01-01        589500.0
12    1991-01-01        431300.0
13    1992-01-01        215400.0
14    1993-01-01        148360.0
15    1994-01-01        156090.0
16    1995-01-01        195580.0
17    1996-01-01         93530.0
18    1997-01-01        115530.0
19    1998-01-01        102165.0
20    1999-01-01         68330.0
21    2000-01-01         28000.0
22    2001-01-01         20000.0
23    2002-01-01         14000.0
24    2003-01-01         29000.0
25    2004-01-01         37000.0
26    2005-01-01         47000.0
27    2006-01-01         29000.0
28    2007-01-01         10000.0
29    2008-01-01         17000.0
30    2009-01-01         38500.0
31    2010-01-01         25750.0
32    2011-01-01         17000.0
33    2012-01-01         15000.0
34    2013-01-01         18000.0
35    2014-01-01         15000.0
36    2015-01-01         17000.0
37    2016-01-01         13000.0
38    2017-01-01         12400.0
39    2018-01-01         14200.0
40    2019-01-01          9000.0
41    2020-01-01         14200.0
42    2021-01-01         11000.0
43    2022-01-01         17145.0
44    2023-01-01         22455.0
45    2024-01-01          9000.0
46    2025-01-01          8000.0

In [46]:
df_soja

   indice_tiempo  soja_hectareas
0     1979-01-01       2100000.0
1     1980-01-01       1925000.0
2     1981-01-01       2040000.0
3     1982-01-01       2362000.0
4     1983-01-01       2920000.0
5     1984-01-01       3300000.0
6     1985-01-01       3340000.0
7     1986-01-01       3700000.0
8     1987-01-01       4413000.0
9     1988-01-01       4670000.0
10    1989-01-01       5100000.0
11    1990-01-01       4966600.0
12    1991-01-01       5004000.0
13    1992-01-01       5319660.0
14    1993-01-01       5817490.0
15    1994-01-01       6011240.0
16    1995-01-01       6002155.0
17    1996-01-01       6669500.0
18    1997-01-01       7176250.0
19    1998-01-01       8400000.0
20    1999-01-01       8790500.0
21    2000-01-01      10665000.0
22    2001-01-01      11639000.0
23    2002-01-01      12607000.0
24    2003-01-01      14525000.0
25    2004-01-01      14400000.0
26    2005-01-01      15329000.0
27    2006-01-01      16141000.0
28    2007-01-01      16600000.0
29    2008-01-01      18000000.0
30    2009-01-01      18860000.0
31    2010-01-01      18885000.0
32    2011-01-01      18670000.0
33    2012-01-01      20000000.0
34    2013-01-01      19700000.0
35    2014-01-01      19790000.0
36    2015-01-01      20479000.0
37    2016-01-01      18057000.0
38    2017-01-01      17260000.0
39    2018-01-01      17000000.0
40    2019-01-01      16900000.0
41    2020-01-01      16650000.0
42    2021-01-01      16094000.0
43    2022-01-01      15978770.0
44    2023-01-01      16564540.0
45    2024-01-01      18000000.0

In [50]:
### Juntamos las dos bases de datos en una sola. Ambas son del mismo periodo y con la misma frecuencia
df = df_soja.merge(df_lino)
df
###Armamos la tabla de estadisticas descriptivas
pd.set_option('display.float_format', '{:.2f}'.format)
df.describe()

       soja_hectareas  lino_hectareas
count           46.00           46.00
mean      11278732.72       239235.54
std        6456155.25       323133.24
min        1925000.00         9000.00
25%        5028000.00        17000.00
50%       12123000.00        37750.00
75%       16975000.00       538325.00
max       20479000.00      1070000.00